body {
  background-color: #000 !important;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-auto-rows: 310px;
  margin: 3%;
  background: #232323;
  border: grey;
  height: 90vh;
  padding: 2%;
}

video {
  border: #a9a9a9;
  width: 80%;
  height: 80%;
  object-fit: cover;
  padding: 1%;
  border-radius: 10%;
  display: inline;
}
